.project-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: 1000px) {
        flex-direction: row;
        align-items: start;
    }
}