.typewriter {
    justify-self: flex-start;
    margin: -20px 5px 0 0;
    font-family: "pixel";
    color: rgba(255, 255, 255, 0.6);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    max-height: fit-content;
}