.career-path {

    .node {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    @media (max-width: 600px) {
        transform: scale(0.8);

        .node {
            flex-direction: column;
        }
    }

    padding: 20% 0;
}

div[class^="year-"] {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    outline: 3px solid #e1dede;
    padding: 10px;
    margin: 2vh 0;
    width: fit-content;
    height: fit-content;
    min-width: 100px;
    min-height: 100px;
    vertical-align: bottom;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-content: end;

    h2 {
        color: #e1dede;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.details {
    color: #f1f3f3;
    text-align: center;
    padding: 5px;

    &.education {
        order: -1;
    }

    width: calc(45vw - 55px);

    @media (max-width: 600px) {
        width: auto;

        &.education {
            order: 1;
        }
    }
}

.gap-year {
    width: 2px;
    height: 20px;
    margin: 10px;
    background-color: rgba(255, 179, 0, 0.854);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}