.career-path {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20% 0;
}

div[class^="year-"] {
    background-color: transparent;
    outline: 3px solid #e1dede;
    padding: 10px;
    margin: 2vh 0;
    width: fit-content;
    height: fit-content;
    min-width: 100px;
    min-height: 100px;
    vertical-align: bottom;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-content: end;

    h2 {
        color: #e1dede;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [class^="details-"] {
        color: red;
    }
}

.gap-year {
    width: 2px;
    height: 20px;
    background-color: rgba(231, 165, 12, 0.43);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}