h1 {
    font-family: "pixel";
    font-size: 5em;
    color: #fcfbec;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

    .hero-typewriter {
        font-family: "pixel";
        font-size: 1.3em;
        color: rgba(255, 255, 255, 0.5);
    }
}