.ocean-container {
    width: 100px;

    .ocean {

        max-width: 100%;
        position: absolute;
        overflow: hidden;
        top: 100vh;
        left: 0;
        transform: rotate(180deg);
    }

    .wave {
        transform: rotate(180deg);
        background: url("/images/wave.svg") repeat-x;
        top: -198px;
        width: 6400px;
        height: 198px;
        animation: wave 22s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}