.project-item {
    position: relative;
    padding: 10px;
    margin: 20px;
    display: grid;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    width: calc(100px + 30vw);
    height: calc(300px + 15vh);
    color: #fefefe;
    font-family: Helvetica;
    overflow: hidden;
    transition: all 0.2;
    max-width: 80vw;

    p {
        padding: 20px;
        padding-bottom: 90px;
    }

    @media (max-width: 1000px) {
        width: 80vw;
        padding: 0;
        width: 400px;
        flex: 1;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: var(--project-thumbnail-url);
        background-size: cover;
        background-position: center;
        transition: all 1s ease;
        filter: blur(3px) brightness(1);
        opacity: 0.25;
        transform: scale(1.2);
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-size: 100%;
    }

    &:hover::before {
        background-size: 95%;
        filter: blur(1px) brightness(0.5);
        opacity: 0.7;
    }

    &:hover {
        a {
            background: rgba(130, 130, 130, 0.529);
        }
    }

    .project-buttons {
        position: absolute;
        bottom: 30px;
        right: 30px;
    }

    .project-icon {
        position: absolute;
        width: 20px;
        background-color: #15151500;
        padding: 5px;
        border-radius: 10px;
        height: auto;
    }

    a {
        font-family: "pixel";
        font-weight: 600;
        font-size: large;
        color: #c0c0c0;
        text-decoration: none;
        text-align: center;
        font-size: 1.2rem;
        padding: 12px;
        margin: 10px;
        border-radius: 10px;
        background: rgba(182, 182, 182, 0.12);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(182, 182, 182, 0.14);
        transition: all 0.7s ease;
        flex: 1;

        &:hover {
            color: #fefefa;
            background: rgba(139, 139, 139, 0.263);
            border: 1px solid rgba(182, 182, 182, 0.73);
            padding: 15px;
        }
    }
}