footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    padding: 10px 0;
    overflow-x: hidden;

    .line {
        border: 3px solid #939393;
        border-radius: 10px;
        width: 60%;
    }

    .star {
        position: relative;
        top: -.73em;
        font-size: 2em;
        color: #939393;
    }

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        a {
            filter: brightness(0.5);
            cursor: pointer;
            max-height: fit-content;
            animation: all 0.8s ease;
            max-height: 10vh;
            margin: 20px;

            width: 20%;

            &:hover {
                filter: brightness(200%) saturate(200%);
            }
        }
    }
}