h1,
h2,
h3,
h4 {
  font-family: pixel;
  font-size: 2em;
  color: #fcfbec;
}


p {
  font-family: pixel;
  font-size: 1.3em;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #2b2b2b;
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(252, 247, 255, 0.5);
}

.App {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}