html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: pixel;
  color: #fcfbec;
  font-size: 2rem;

  @media (max-width: 700px) {
    font-size: 1.5em;
  }
}

h1 {
  font-size: 3em;
}


p {
  font-family: pixel;
  font-size: 1.4em;
  margin: 0 1em;
}

li {
  margin: 0 1em;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #2b2b2b;
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(252, 247, 255, 0.5);
}

.App {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}

a {
  color: rgb(46, 229, 211);
  text-decoration: none;
}

a:hover {
  color: cyan;
  text-decoration: underline;
  text-decoration-style: dashed;
}