.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80vh;

    &-outline {
        width: 40px;
        height: 60px;
        outline: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 100px;
        position: relative;
        background-size: 100% 200%;

        @media (max-width: 768px) {
            transform: scale(.7);
        }
    }

    &-dot {
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 100px;
        position: absolute;
        top: 10px;
        left: calc(50% - 5px);
        animation: bobble 3s infinite;
    }

    &-text {
        align-items: center;
        position: relative;
        color: rgba(255, 255, 255, 0.5);
    }
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.hero {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bobble {
    0% {
        opacity: 1;
    }

    85% {
        opacity: 0;
        width: 2px;
        height: 2px;
        left: calc(50% - 1px);
        top: 40px;
    }

    100% {
        opacity: 0;
    }
}